
#frame-modal-alert.modal.fade.top(tabindex="-1", role="dialog",
  aria-labelledby="myModalLabel", aria-hidden="true"
)
  .modal-dialog.modal-frame.modal-top.modal-notify(
    class="modal-" + type, role="document"
  )
    .modal-content
      .modal-header
        p.heading
          strong.alert-message #{message}
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span.white-text(aria-hidden="true") &times;
