
if message
  .row
    div.flash(class="alert alert-" + type + " alert-dismissible fade in", role='alert')= message
      button.close(type="button", data-dismiss="alert", aria-label="Fechar")
        span(aria-hidden="true") ×
else
  #flash-banner.row(style={display: 'none'})
    div.flash(class="alert alert-dismissible fade in", role='alert')
      button.close(type="button", data-dismiss="alert", aria-label="Fechar")
        span(aria-hidden="true") ×