
if message
  .row.justify-content-center
    .col
      .flash.alert.alert-dismissible.fade.show(class="alert-" + type, role='alert')= message
        button.close(type="button", data-dismiss="alert", aria-label="Fechar")
          span(aria-hidden="true") ×
else
  #flash-banner.row.justify-content-center(style={display: 'none'})
    .col
      .flash.alert.alert-dismissible.fade.show(role='alert')
        button.close(type="button", data-dismiss="alert", aria-label="Fechar")
          span(aria-hidden="true") ×
