nav.navbar.navbar-expand-lg.navbar-dark.flashbox-color
  a.navbar-brand(href="/").col-2
    .image-block
      img(alt="brand", src="/images/logo.png", width="50", height="50")
      span(style="font-size: 24px;") &nbsp FlashMan
  button.navbar-toggler.col-4(type="button", data-toggle="collapse",
                        data-target="#navbar-menu", aria-controls="#navbar-menu",
                        aria-expanded="false", aria-label="Alternar navegação")
    span.navbar-toggler-icon
  #navbar-menu.navbar-default.navbar-collapse.collapse
    if (username)
      ul.navbar-nav.ml-auto
        li.nav-item.dropdown.col-10
          a#navbarDropdown.nav-link.dropdown-toggle(data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false")
            | Olá, #{username}
          .dropdown-menu(aria-labelledby="navbarDropdown")
            a.dropdown-item(href="/user/profile")
              .fas.fa-user.fa-lg
              span &nbsp Meu perfil
            if (superuser || role.grantFirmwareManage)
              a.dropdown-item(href="/firmware")
                .fas.fa-hdd.fa-lg
                span &nbsp Firmwares
            if (superuser)
              a.dropdown-item(href="/user/showall")
                .fas.fa-users.fa-lg
                span &nbsp Gerenciar usuários
              a.dropdown-item(href="/user/roles")
                .fas.fa-address-card.fa-lg
                span &nbsp Gerenciar permissões
              a.dropdown-item.update
                .fas.fa-arrow-circle-down.fa-lg
                span &nbsp Atualizar Flashman
              a.dropdown-item.config
                .fas.fa-cog.fa-lg
                span &nbsp Configurações
        li.nav-item
          a.nav-link(href="/logout")
            .fas.fa-sign-out-alt.fa-lg
