extends layout

block content
  .col-md-8.col-md-offset-4
    form(method='post', action='/user/edit/' + userid).form-horizontal
      .form-group
        label.col-md-2.control-label(for="password") Nova senha
        .col-md-4
          input.form-control(type="password", name="password")
      .form-group
        label.col-md-2.control-label(for="password") Repita a nova senha
        .col-md-4
          input.form-control(type="password", name="passwordack")
      .form-buttons
        button.btn.btn-primary(type="submit") Alterar
