extends layout

block content
  .row.justify-content-center
    .col-6
      .card.mt-5
        .card-body
          .row.justify-content-center
            .col-8
              p.h4.text-center.mb-4 Renovação de senha

              form(method='post', action='/user/edit/' + userid)
                .md-form
                  i.fas.fa-lock.prefix.grey-text
                  input#password.form-control(type="text", name="password")
                  label(for="password") Nova senha
                .md-form
                  i.fas.fa-lock.prefix.grey-text
                  input#passwordack.form-control(type="password", name="passwordack")
                  label(for="passwordack") Repita a nova senha
                .form-buttons.text-center
                  button.btn.btn-primary.btn-lg.orange.darken-2(type="submit") Alterar
