extends layout

block content
  if ! devices || devices.length == 0
    h3.text-center Nenhum dispositivo registrado
  else
    table.table.table-responsive.devices-table
      tr
        th #
        th Identificação
        th
      each device, index in devices
        tr(id=device._id)
          td.col-xs-1=index + 1
          td.col-xs-9
            .col-xs-8
              | #{device._id}
          td.col-xs-2
            a.edit.pull-right.btn.btn-sm.btn-primary.spaced-btn(href="/devices/edit/" + device._id)
              span.hidden-xs Editar&nbsp;
              span.glyphicon.glyphicon-pencil
