extends layout

block content
  .row.justify-content-center
    .col-12.col-md-6
      .card.mt-5
        .card-body
          .row.justify-content-center
            .col-8
              p.h4.text-center.mb-4 Autenticação

              form(method='post', action='/login')
                .md-form
                  i.fas.fa-user.prefix.grey-text
                  input#name.form-control(type="text", name="name")
                  label(for="name") Usuário
                .md-form
                  i.fas.fa-lock.prefix.grey-text
                  input#password.form-control(type="password", name="password")
                  label(for="password") Senha
                .form-buttons.text-center
                  button.btn.btn-primary.btn-lg.teal.lighten-2(type="submit") Entrar

