body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.flash {
    margin-top: 20px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > p.navbar-text {
    font-weight: bolder;
}

table {
    margin-top: 10px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.table > tbody > tr > td > * > .label{
    vertical-align: middle;
    text-align: right;
}

.version-label {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 10px;
}

/*Fix to vertically align bootstrap radio*/
input.aligned-radio {
    margin-top: 0;
    vertical-align: middle;
}

.form-horizontal .control-label {
    text-align: left;
}

.well.well-sm > div > div > .row,
.well.well-sm > div.form-group {
    margin-right: 15px;
    margin-left: 15px;
}


@media (min-width: 768px) {
    .button-group.pull-right {
        float: left;
    }
}

.spaced-btn {
    margin: 5px 2px;
}

.params-description {
    padding-top: 20px;
    padding-bottom:10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #337ab7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #337ab7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
