
@media (max-width: 992px) {
  .container {
    width: 100%;
    max-width: none;
  }
}

.font-bold {
  font-weight: bold;
}

.flash {
  margin-top: 20px;
}

.version-label {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 10px;
}

.md-addon {
  background-color: transparent;
  border-color: transparent;
}

/* Rounded sliders */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4db6ac;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4db6ac;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* File input */

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.flashbox-color {
  background-color: #4db6ac!important;
}

/* tags search input */

.tags-input {
  border: none;
  border-bottom: 1px solid #ced4da;
  box-shadow: none;
}

/* nav pills custom colors */

.nav-pills .nav-link:not(.active) {
  background-color: #4db6ac;
  color: white;
}

.nav-pills .nav-link:hover {
  background-color: #4db6ac;
  color: #2c6b65; 
}

.nav-pills .nav-link:focus {
  background-color: #3f968e;
  color: white;
}

.nav-pills .nav-link.active {
  background-color: #3f968e;
  color: white;
}

/* pagination used by dataTables plugin */
.pagination .page-item.active .page-link,
.pagination .page-item.active .page-link:hover {
  background-color: #4db6ac;
  color: white;
}

/* modal dialog customization */
.modal-dialog.modal-notify.modal-teal .modal-header {
  background-color: #4db6ac;
}